footer {
    display: block;
    
    p {
        font-family: $font-secondary;
        font-size: 2rem;
        text-align: center;
        color: white;

        span {
            color: $color-tertiary;
        }
    }
}