footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: $color-primary;

    p {
        font-family: $font-secondary;
        font-size: 2rem;
        text-align: center;
        
        color: white;

        span {
            color: $color-tertiary;
        }
    }
}