header {
    position: relative;
    background: $color-primary;
    color: white;
    text-align: center;
    height: 15vh;

    h1 {
        font-size: 8rem;
        font-weight: bolder;
        padding: 3% 0 0 0;
        animation: neon .08s ease-in-out infinite alternate;
    }
}

.instructions {
    font-size: 1.5rem;
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background-color: transparent;

    .fas {
        font-size: 6rem;
        color: $color-tertiary;
        transition: all .5s;

        &:hover {
            cursor: pointer;
            transform: scale(1.2);
        }
    }
}

// SweetAlert Messages Style
.swal2-popup {
    width: 450px;
    height: 350px;
    background: $color-tertiary;

    .swal2-image {
        width: 300px;
        height: 200px;
    }

    .swal2-title {
        color: $color-primary;
    }

    .swal2-content {
        font-family: $font-secondary;
        font-size: 1.6rem;
        line-height: 1.5;
        color: $color-primary;
        padding: 0 20px;
    }

    .swal2-styled.swal2-confirm {
        font-size: 1.5rem;
        padding: 10px 30px 8px;
        background-color: $color-primary;
    }
}

// Neon Animation Keyframes
@keyframes neon {
    from {
        text-shadow:
        0 0 6px rgba(202,228,225,0.92),
        0 0 30px rgba(202,228,225,0.34),
        0 0 12px rgba(30,132,242,0.52),
        0 0 21px rgba(30,132,242,0.92),
        0 0 34px rgba(30,132,242,0.78),
        0 0 54px rgba(30,132,242,0.92);
    }
    to {
        text-shadow:
        0 0 6px rgba(202,228,225,0.98),
        0 0 30px rgba(202,228,225,0.42),
        0 0 12px rgba(30,132,242,0.58),
        0 0 22px rgba(30,132,242,0.84),
        0 0 38px rgba(30,132,242,0.88),
        0 0 60px rgba(30,132,242,1);
    }
}
