.resultPageSection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px; 
}

.landingPage {
    text-align: center;
}

.flip-card {
    perspective: 1000px;
}

.flip-card-inner {
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
    backface-visibility: hidden;
    border-radius: 20px;
    transition: 1s;
}

.flip-card-front {
    position: relative;

    img {
        border-radius: 20px;
        width: 100%;
    }
}

.flip-card-back {
    background-color: $color-quaternary;
    color: $color-primary;
    transform: rotateY(180deg);

    position: absolute;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    padding: 20px;

    h2 {
        font-size: 3rem;
    }

    .rating {
        font-size: 2rem;
    }

    .synopsis {
        font-size: 1.6rem;
        line-height: 2.2rem;
        text-align: center;

        .span {
            font-weight: bold;
            font-size: 1.8rem;
        }
    }
    
}

.flip-card-inner:hover {
    cursor: pointer;
    transform: rotateY(180deg);
}

.flip-card-inner:focus {
    transform: rotateY(180deg);
}