html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  background: #17103D;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2 {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: beon;
}

.wrapper {
  max-width: 1400px;
  width: 60%;
  margin: 0 auto;
}

.hide {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

img {
  display: block;
  width: 100%;
}

header {
  position: relative;
  background: #17103D;
  color: white;
  text-align: center;
  height: 15vh;
}

header h1 {
  font-size: 8rem;
  font-weight: bolder;
  padding: 3% 0 0 0;
  -webkit-animation: neon .08s ease-in-out infinite alternate;
          animation: neon .08s ease-in-out infinite alternate;
}

.instructions {
  font-size: 1.5rem;
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background-color: transparent;
}

.instructions .fas {
  font-size: 6rem;
  color: #FFCA13;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.instructions .fas:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.swal2-popup {
  width: 450px;
  height: 350px;
  background: #FFCA13;
}

.swal2-popup .swal2-image {
  width: 300px;
  height: 200px;
}

.swal2-popup .swal2-title {
  color: #17103D;
}

.swal2-popup .swal2-content {
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #17103D;
  padding: 0 20px;
}

.swal2-popup .swal2-styled.swal2-confirm {
  font-size: 1.5rem;
  padding: 10px 30px 8px;
  background-color: #17103D;
}

@-webkit-keyframes neon {
  from {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
  }
  to {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88), 0 0 60px #1e84f2;
  }
}

@keyframes neon {
  from {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
  }
  to {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88), 0 0 60px #1e84f2;
  }
}

main {
  padding-top: 40px;
  position: relative;
}

.showBegins {
  position: relative;
}

.genre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

.genre .genreGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
}

.genreImage {
  height: 120px;
}

.genreImage input:focus + label {
  background-color: rgba(220, 20, 60, 0.4);
}

.genreImage input:checked + label {
  background-color: #FFCA13;
  color: #17103D;
}

.genreImage label {
  font-family: "Rubik", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  color: #FFF;
  background-color: #423D5B;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.genreImage label:hover {
  border: 2px solid #FFCA13;
}

.yearInput {
  font-size: 2rem;
  margin: 2% 0;
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.yearInput label {
  font-family: "Rubik", sans-serif;
}

.yearInput input {
  height: 3rem;
  font-family: "Rubik", sans-serif;
  font-size: 1.4rem;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: inset 0px 0px 3px #17103D;
          box-shadow: inset 0px 0px 3px #17103D;
  padding: 5px 10px;
  margin-left: 1rem;
}

.formSubmit,
.resetButton {
  text-align: center;
  font-size: 2rem;
}

.formSubmit {
  margin-top: 20px;
}

.resetButton {
  display: none;
  margin: 20px auto;
}

.getMovies,
.resetButton {
  font-family: "Rubik", sans-serif;
  font-weight: bolder;
  background-color: #FFCA13;
  color: #17103D;
  border: none;
  padding: 12px 40px 10px;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.getMovies:hover,
.resetButton:hover {
  border: 2px solid #FFCA13;
  background-color: #423D5B;
  color: #FFF;
}

.genreImage .svg {
  background-repeat: no-repeat;
  background-position: center 100%;
}

.genreImage .action {
  background-image: url(../image/action.svg);
  background-size: 50%;
}

.genreImage .animation {
  background-image: url(../image/animation.svg);
  background-size: 40%;
}

.genreImage .comedy {
  background-image: url(../image/comedy.svg);
  background-size: 40%;
}

.genreImage .drama {
  background-image: url(../image/drama.svg);
  background-size: 55%;
}

.genreImage .fantasy {
  background-image: url(../image/fantasy.svg);
  background-size: 45%;
}

.genreImage .horror {
  background-image: url(../image/horror.svg);
  background-size: 50%;
}

.genreImage .musical {
  background-image: url(../image/musical.svg);
  background-size: 45%;
}

.genreImage .romance {
  background-image: url(../image/romance.svg);
  background-size: 60%;
}

.genreImage .sci-fi {
  background-image: url(../image/sci-fi.svg);
  background-size: 40%;
}

.genreImage .thriller {
  background-image: url(../image/thriller.svg);
  background-size: 40%;
}

.genreImage .war {
  background-image: url(../image/war.svg);
  background-size: 40%;
}

.genreImage .western {
  background-image: url(../image/western.svg);
  background-size: 50%;
}

.resultPageSection {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.landingPage {
  text-align: center;
}

.flip-card {
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.flip-card-inner {
  text-align: center;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 20px;
  -webkit-transition: 1s;
  transition: 1s;
}

.flip-card-front {
  position: relative;
}

.flip-card-front img {
  border-radius: 20px;
  width: 100%;
}

.flip-card-back {
  background-color: #77B8D4;
  color: #17103D;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  position: absolute;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  padding: 20px;
}

.flip-card-back h2 {
  font-size: 3rem;
}

.flip-card-back .rating {
  font-size: 2rem;
}

.flip-card-back .synopsis {
  font-size: 1.6rem;
  line-height: 2.2rem;
  text-align: center;
}

.flip-card-back .synopsis .span {
  font-weight: bold;
  font-size: 1.8rem;
}

.flip-card-inner:hover {
  cursor: pointer;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip-card-inner:focus {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

footer {
  display: block;
}

footer p {
  font-family: "Rubik", sans-serif;
  font-size: 2rem;
  text-align: center;
  color: white;
}

footer p span {
  color: #FFCA13;
}

@media (max-width: 900px) {
  html {
    font-size: 58%;
  }
  html h1 {
    margin: 10% 0;
  }
  html form {
    padding-top: 50px;
  }
  header .instructions {
    top: 100px;
  }
  .wrapper {
    width: 90%;
  }
}

@media (max-width: 680px) {
  .landingPage {
    margin-top: 60px;
  }
}

@media (max-width: 650px) {
  .formSubmit {
    text-align: center;
  }
  .flip-card-back {
    padding: 40px;
  }
  .flip-card-back h2 {
    font-size: 4rem;
  }
  .flip-card-back .rating {
    font-size: 3rem;
  }
  .flip-card-back .synopsis {
    font-size: 2rem;
    line-height: 3rem;
  }
  .flip-card-back .synopsis .span {
    font-size: 2.4rem;
  }
  .resultPageSection {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    padding: 4% 14%;
  }
  .genre .genreGrid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .genre .genreImage .action {
    background-size: 40%;
  }
  .genre .genreImage .animation {
    background-size: 28%;
  }
  .genre .genreImage .comedy {
    background-size: 28%;
  }
  .genre .genreImage .drama {
    background-size: 40%;
  }
  .genre .genreImage .fantasy {
    background-size: 30%;
  }
  .genre .genreImage .horror {
    background-size: 40%;
  }
  .genre .genreImage .musical {
    background-size: 30%;
  }
  .genre .genreImage .romance {
    background-size: 40%;
  }
  .genre .genreImage .sci-fi {
    background-size: 28%;
  }
  .genre .genreImage .thriller {
    background-size: 28%;
  }
  .genre .genreImage .war {
    background-size: 30%;
  }
  .genre .genreImage .western {
    background-size: 40%;
  }
  .getMovies {
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 50%;
  }
  html h1 {
    font-size: 7rem;
  }
  .movieForm {
    padding-top: 10px;
  }
  .movieForm .yearInput {
    font-size: 2.6rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .movieForm .yearInput input {
    font-size: 1.8rem;
    width: 150px;
    height: 30px;
  }
  .resultPageSection {
    padding: 8% 14%;
    margin-bottom: 140px;
  }
  footer p {
    font-size: 1.6rem;
  }
}

@media (max-width: 420px) {
  .getMovies {
    font-size: 2.6rem;
    width: 200px;
    height: 55px;
  }
  .resetButton {
    bottom: -40px;
  }
}

@media (max-width: 390px) {
  html {
    font-size: 45%;
  }
  html h1 {
    font-size: 6rem;
  }
  html .instructions {
    top: 80px;
    right: 10px;
  }
  html .resetButton {
    bottom: -50px;
  }
}
